<header>
	<nav class="navbar navbar-expand-lg navbar-dark shadow bg-dark py-4">
		<div class="container px-3">
			<a class="navbar-brand">Star wars planet</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbar">
				<div class="navbar-nav">
					<a class="nav-link me-2" href="/login">LOGIN</a>
					<a class="nav-link" href="/registrazione">REGISTRAZIONE</a>
				</div>
			</div>
		</div>
	</nav>
</header>
<main>
	<div class="container py-5" style="text-align: -webkit-center;">
		<router-outlet></router-outlet>
	</div>
</main>
<footer class="footer mt-auto py-4 bg-dark text-center">
	<div class="container">
		<div class="row">
			<div class="col text-white">
				<p>
					Progetto Starwars Planets, esercitazione eseguito da Lorenzo Cecio per il Gruppo Meta - 2023
				</p>
			</div>
		</div>
	</div>
</footer>