<header>
	<nav class="shadow bg-dark py-4 text-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-white">Star wars planets</h1>
				</div>
			</div>
		</div>
	</nav>
</header>
<main>
	<div class="container py-5" style="text-align: -webkit-center;">
		<router-outlet></router-outlet>
	</div>
</main>
<footer class="footer mt-auto py-4 bg-dark text-center">
	<div class="container">
		<div class="row">
			<div class="col text-white">
				<p>
					Progetto Starwars Planets, esercitazione eseguito da Lorenzo Cecio per il Gruppo Meta - 2023
				</p>
			</div>
		</div>
	</div>
</footer>