/*font preso da https://www.dafont.com/star-jedi.font l'autore conferma che è un freeware*/
@font-face {
    font-family: "Starjedi";
    src: url('/assets/font/Starjedi.ttf');
}

h1{
    font-family: 'Starjedi';
}